[submodule "Pehla-School-Assets"]
	path = Pehla-School-Assets
	url = https://github.com/maqsoftware/Pehla-School-Assets.git
[submodule "Pehla-School-Assets-Library"]
	path = Pehla-School-Assets-Library
	url = https://github.com/maqsoftware/Pehla-School-Assets-Library.git
