[submodule "Pehla-School-Assets"]
	path = Pehla-School-Assets
	url = https://github.com/maqsoftware/Pehla-School-Assets.git
[submodule "Pehla-School-Library-Assets"]
	path = Pehla-School-Library-Assets
	url = https://github.com/maqsoftware/Pehla-School-Library-Assets.git
